.info_container{
    height: 100px;
    padding: 30px;
}

.info_card{
    padding: 0 5px;
}

.info-primary{
    background-color: #1cc7c1;
} 

.info-dark{
    background-color: #3a4256;
}

.info_icon{
    font-size: 3em;
}