/* .testimonial .container{
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
} */
/* .testimonial .card{
    border-color: transparent;
}

.testimonial .card .card-footer{
    background: transparent;
    border: 0;
} */