.header_container {
    height:700px;
    position:relative;
    background-image: url('../../../images/chairBg.png');
    background-size: cover;
}
.header_container::after{
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 33%;
    right: 0;
    background-color:#3A4256;
    z-index: -50;
}