 .btn_brand{
   background-image: linear-gradient(75deg, #0ef7f7d3,#0ef7d8ce);
   border-color: transparent;
   text-transform: uppercase;
   font-weight: 600;
   outline: none !important;
   line-height: 2em;
   color: white;
 }
.text_brand{
  color: #1cc7c1;
}